html, body {
    width: 100%;
    padding: 20px;
}

.board-wrapper {
    height: 720px;
    width: 700px;
    margin: auto;
}

.board {
    width: 600px;
    padding: 0 10px;
    position: relative;
    background: #ECECEC;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 2px solid #CCCCCC;
}

.time-column, .board {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.time-column {
    text-align: right;
    width: 70px;
}

.time-column div {
    position: relative;
    height: 30px;
}

.time-column div:nth-child(odd) {
    font-size: 16px;
    color: #686868;
 }

.time-column div:nth-child(even) {
    font-size: 12px;
    color: #CCCCCC;
}

.time-column div:nth-child(odd) > span {
    position: relative;
    top: -8px;
}

.time-column div:nth-child(even) > span {
    position: relative;
    top: -6px;
}

.event {
    position: absolute;
    box-sizing: border-box;
    border-left: 4px solid blue;
    background: white;
    overflow: hidden;
}

.event > span {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}